body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* First Section */
section {
    display: flex;
    margin-bottom: 150px;
}

h1{
    font-size: 50px;
}

.color-change {
    color: orange;
}

.section-1 {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    margin-left: 2%;
}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.half-width img {
    width: 80%;
}

/* First section Done */

/* Second Section */
.section-2 {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
